Deprecated
Django
Flask
Jinja2
MarkupSafe
Werkzeug
celery
click
googleapis-common-protos
grpcio
gunicorn
itsdangerous
opencensus
opencensus-ext-flask
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-django
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-sqlite3
opentelemetry-instrumentation-wsgi
opentelemetry-opencensus-shim
opentelemetry-opentracing-shim
opentelemetry-sdk
opentelemetry-semantic-conventions
protobuf
pytest
pytest-django
redis
redis_opentracing
requests
six
thrift
typing_extensions
#uWSGI
wrapt
